<!DOCTYPE html>
<html>
    <title>Status | NSF NCAR CIRRUS Infrastructure</title>
        <link rel="canonical" href="{{ url_for('status') }}"/>
        <meta property="og:title" content="Status | NCAR Stratus UI"/>
        <meta property="og:url" content="{{ url_for('status') }}"/>
        <meta property="og:site_name" content="ncar_stratus_ui"/>
        <meta property="og:type" content="website"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',  filename='style.css')}}" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="{{url_for('static',  filename='app.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e08b5a6906.js" crossorigin="anonymous"></script>
    <script>
        $(function(){
            $('#nav').load("{{ url_for('navbar') }}")
        })
    </script>
    <body>
        <div id="nav"></div>
        <br>
        <div class="container-fluid">
            <div class="bigbubble">
                <h2>CIRRUS Infrastructure Status</h2>
            </div>
            
            <div class="row mt-4">
                <div class="col-12">
                    <iframe src="http://kadmin.k8s.ucar.edu:3001/status/nwc1-nginx-external" 
                            style="width: 100%; height: 800px; border: none;"
                            title="Infrastructure Status"></iframe>
                </div>
            </div>
        </div>
    </body>
</html>